name: java CI with Docker and SonarQube

on:
 push:
  branches: ["master"]
 pull_request:
  branches: ["master"]

jobs:
 build:
  runs-on: ubuntu-latest
  env:
    MAVEN_OPTS: -Xmx2g
  steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Cache Maven local repository
      uses: actions/cache@v4
      with:
       path: ~/.m2/repository
       key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
       restore-keys: |
        ${{ runner.os }}-m2-

    - name: Build with Maven(test,build,coverage)
      run: mvn -B clean verify

    - name: Upload Jacoco report artifact
      uses: actions/upload-artifact@v4
      with:
        name: jacoco-report
        path: target/site/jacoco

sonar:
 needs: build
 runs-on: ubuntu-latest
 steps:
  - name: Checkout Sonarqube
    uses: actions/checkout@v4

  - name: Set up JDK 11
    uses: actions/setup-java@v4
    with:
      java-version: '11'
      distribution: 'temurin'

  - name: Run sonar analysis
    env:
     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    run: mvn -B sonar:sonar \-Dsonar.projectKey=${{secrets.SONAR_PROJECT_KEY}} \-Dsonar.host.url=https://sonarcloud.io \${{secrets.SONAR_HOST_URL}} \-Dsonar.login=${{secrets.SONAR_TOKEN}}

docker:
 needs: [build , sonar]
 runs-on: ubuntu-latest
 steps:
  - name: Checkout
    uses: actions/checkout@v4

  - name: Setup JDK 11
    uses: actions/setup-java@v4
    with:
      java-version: '11'
      distribution: 'temurin'
 
  - name: Build War
    run: mvn -B -DskipTests package

  - name: Build Docker Image
    run: docker build -t ${{secrets.DOCKERHUB_USERNAME}}/calculator:${{github.sha}} .

  - name: Login to DockerHub
    uses: docker/login-action@v2
    with:
      username: ${{secrets.DOCKERHUB_USERNAME}}
      password: ${{secrets.DOCKERHUB_TOKEN}}

  - name: Push to DockerHub
    run: |
     docker tag ${{secrets.DOCKERHUB_USERNAME}}/calculator:${{github.sha}} ${{secrets.DOCKERHUB_USERNAME}}/calculator:latest
     docker push ${{secrets.DOCKERHUB_USERNAME}}/calculator:${{github.sha}}
     docker push ${{secrets.DOCKERHUB_USERNAME}}/calculator:latest
