name: java CI with Docker and SonarQube

on:
 push:
  branches: ["master"]
 pull_request:
  branches: ["master"]

jobs:
 build:
  runs-on: ubuntu-latest
  env:
    MAVEN_OPTS: -Xmx2g
  steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Cache Maven local repository
      uses: actions/cache@v4
      with:
       path: ~/.m2/repository
       key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
       restore-keys: |
        ${{ runner.os }}-m2-

    - name: Build with Maven(test,build,coverage)
      run: mvn -B clean verify

    - name: Upload Jacoco report artifact
      uses: actions/upload-artifact@v4
      with:
        name: jacoco-report
        path: target/site/jacoco

 docker:
  needs: [build]
  runs-on: ubuntu-latest
  steps:
   - uses: actions/checkout@v4
   - name: login to DockerHub
     uses: docker/login-action@v2
     with:
       username: ${{secrets.DOCKERHUB_USERNAME}}
       password: ${{secrets.DOCKERHUB_TOKEN}}

   - name: Build Docker image
     run: docker build -t ${{secrets.DOCKERHUB_USERNAME}}/calculator-app:latest .
   - name: Push Docker image
     run: docker push ${{secrets.DOCKERHUB_USERNAME}}/calculator-app:latest
     